# ---------------- [ SIMPLESPAWNERS CONFIG ] ----------------
# a plugin by https://github.com/xP9nda

# ---------------- [ CHAT MESSAGES ] ----------------
# formatting information:
# see https://docs.advntr.dev/minimessage/format.html for text formatting options

messages:
  reload: "<#35855b>SimpleSpawners <#ffffff>| Config has been reloaded."
  spawnerOpen: "<#35855b>SimpleSpawners <#ffffff>| Accessing your spawner..."
  spawnerOpenFailed: "<#35855b>SimpleSpawners <#ffffff>| You do not own this spawner."
  spawnerPlace: "<#35855b>SimpleSpawners <#ffffff>| You have <#35855b>placed<#ffffff> a private spawner."
  spawnerAttemptBreak: "<#35855b>SimpleSpawners <#ffffff>| You can not break spawners. <#35855b>Sneak right click<#ffffff> to open the spawner's menu."
  spawnerPickup: "<#35855b>SimpleSpawners <#ffffff>| You have <#35855b>picked up<#ffffff> a spawner."
  spawnerPickupFullInventory: "<#35855b>SimpleSpawners <#ffffff>| Your inventory <#35855b>must be empty<#ffffff> to pick up a spawner."

# ---------------- [ PLUGIN SETTINGS ] ----------------
settings:
  # spawnerDefaultBehaviour: (boolean) true | false
  # this option toggles the default spawning of mobs from spawners
  # this is recommended to be kept false as spawners generate items with this plugin
  spawnerDefaultBehaviour: false

  # spawnerSneakRequirement: (boolean) true | false
  # this option toggles whether players need to sneak to open a spawner menu
  # don't forget to change messages.spawnerAttemptBreak to reflect any changes made here
  spawnerSneakRequirement: true

  # unownedMoneyPickupCost: (integer)
  # this option defines how much money a player should have to pay to pick up an unowned spawner (naturally spawned)
  # set this to 0 to disable this functionality
  unownedMoneyPickupCost: 150

  # ownedMoneyPickupCost: (integer)
  # this option defines how much money a player should have to pay to pick an owned private spawner
  # set this to 0 to disable this functionality
  ownedMoneyPickupCost: 0

# ---------------- [ ITEMS AND MENUS ] ----------------
# title and lore tags recognized by the plugin (these are only for the spawner item)
# "<mob>" - displays the mob type of the spawner

# spawnerItem - this is the template of the item that is given to the player when they pick up a spawner
spawnerItem:
  displayName: "<#35855b><mob> <#ffffff>Spawner"
  lore:
    - ""
    - "<#ffffff>» <#35855b>Mob: <#ffffff><mob>"
    - ""

# menu information:
# menu commands recognized by the plugin
# "[pickup]" - command to allow the interacting player to pick up a spawner, this will send the messages.spawnerPickup or messages.spawnerPickupFullInventory message to the player
# "[close]" - command to close the interacting player's inventory

# title and lore tags recognized by the plugin (these are only for menu items)
# "<mob>" - displays the mob type of the spawner
# "<owner>" - displays the owner of the spawner, defaulted to "Unowned" if no owner exists (naturally spawned spawner)
# "<money>" - the monetary cost to pick up a spawner

# primaryMenu - this is the menu that players see when interacting with an owned spawner
# an owned spawner is one that has been placed down by a player
primaryMenu:
  information:
    rows: 2
    title: "Spawner Inspector"
  items:
    info:
      slotRow: 0
      slotColumn: 1
      material: DIAMOND
      quantity: 1
      displayName: "<#35855b>Info"
      lore:
        - ""
        - "<#ffffff>» <#35855b>Mob: <#ffffff><mob>"
        - "<#ffffff>» <#35855b>Owner: <#ffffff><owner>"
        - ""
      leftClickCommands:
      rightClickCommands:
    pickup:
      slotRow: 0
      slotColumn: 7
      material: BUCKET
      quantity: 1
      displayName: "<#35855b>Pickup Spawner"
      lore:
        - ""
        - "<#ffffff>» <#35855b>Left Click<#ffffff> to pick up this spawner"
        - "<#ffffff>» All unclaimed drops and xp will be lost"
        - ""
      leftClickCommands:
        - "[pickup]"
      rightClickCommands:
    border10:
      slotRow: 1
      slotColumn: 0
      material: BLACK_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    border11:
      slotRow: 1
      slotColumn: 1
      material: BLACK_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    border12:
      slotRow: 1
      slotColumn: 2
      material: BLACK_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    border13:
      slotRow: 1
      slotColumn: 3
      material: BLACK_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    close:
      slotRow: 1
      slotColumn: 4
      material: BARRIER
      quantity: 1
      displayName: "<#35855b>Close Menu"
      lore:
        - ""
        - "<#ffffff>» <#35855b>Left Click<#ffffff> to close this menu"
        - ""
      leftClickCommands:
        - "[close]"
      rightClickCommands:
    border15:
      slotRow: 1
      slotColumn: 5
      material: BLACK_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    border16:
      slotRow: 1
      slotColumn: 6
      material: BLACK_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    border17:
      slotRow: 1
      slotColumn: 7
      material: BLACK_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    border18:
      slotRow: 1
      slotColumn: 8
      material: BLACK_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:

# unownedMenu - this is the menu that players see when interacting with an unowned spawner
# an unowned spawner would be one that generates naturally in the world
unownedMenu:
  information:
    rows: 2
    title: "Unowned Spawner"
  items:
    info:
      slotRow: 0
      slotColumn: 2
      material: DIAMOND
      quantity: 1
      displayName: "<#35855b>Info"
      lore:
        - ""
        - "<#ffffff>» <#35855b>Mob: <#ffffff><mob>"
        - "<#ffffff>» <#35855b>Owner: <#ffffff>Unowned"
        - ""
    pickup:
      slotRow: 0
      slotColumn: 6
      material: BUCKET
      quantity: 1
      displayName: "<#35855b>Pickup Spawner"
      lore:
        - ""
        - "<#ffffff>» It will cost <#35855b>$<money><#ffffff> to pick up this spawner"
        - ""
        - "<#ffffff>» <#35855b>Left Click<#ffffff> to pick up this spawner"
        - "<#ffffff>» This spawner has no owner and has spawned naturally"
        - ""
      leftClickCommands:
        - "[pickup]"
      rightClickCommands:
    border10:
      slotRow: 1
      slotColumn: 0
      material: RED_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    border11:
      slotRow: 1
      slotColumn: 1
      material: RED_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    border12:
      slotRow: 1
      slotColumn: 2
      material: RED_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    border13:
      slotRow: 1
      slotColumn: 3
      material: RED_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    close:
      slotRow: 1
      slotColumn: 4
      material: BARRIER
      quantity: 1
      displayName: "<#35855b>Close Menu"
      lore:
        - ""
        - "<#ffffff>» <#35855b>Left Click<#ffffff> to close this menu"
        - ""
      leftClickCommands:
        - "[close]"
      rightClickCommands:
    border15:
      slotRow: 1
      slotColumn: 5
      material: RED_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    border16:
      slotRow: 1
      slotColumn: 6
      material: RED_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    border17:
      slotRow: 1
      slotColumn: 7
      material: RED_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore:
    border18:
      slotRow: 1
      slotColumn: 8
      material: RED_STAINED_GLASS_PANE
      quantity: 1
      displayName: ""
      lore: